$color_emphasis: #ff9a98ff;
$color_text: #fff;
$color_background: #333333cc;

$font_text: "Poppins", sans-serif;
$font_title: "Potta One", cursive;

@mixin transparent-background-effect {
  background: $color_background;
  box-shadow: 0 0 10px #333;
  color: $color_text;
}

@mixin big-emphasis {
  font-weight: normal;
  font-family: $font_title;
  color: $color_emphasis;
  font-size: 1.1em;
}

@mixin main-layout {
  h1 {
    color: $color_emphasis;
  }
  a {
    position: relative;
    transition: all 500ms;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 2px solid $color_emphasis;
      transform: scaleX(0);
      transition: transform 300ms;
    }
    &:hover {
      &::before {
        transform: none;
      }
    }
  }
  .wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    @media screen and (min-width: 992px) {
      flex-flow: row nowrap;
    }
  }
  .hero {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
  }
  .description {
    flex: 1;
    padding: 15px 25px;
    @media screen and (min-width: 992px) {
      padding: 30px 50px;
    }
    strong {
      @include big-emphasis;
    }
  }
}
